<% include partials/header %>

<h1>You Feel In Love With: <%= thing %></h1>

<% if(thing === "angelica") { %>
    <p>Good Choice</p>
<% } %>

<p>P.S. this is the love.ejs file!</p>

<% include partials/footer %>